<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>
<body>
  <section class="box" ng-controller="TodoController as $ctrl">
    <h2>TODO List</h2>
    <p>A place to store the things you have to do!</p>
  <!-- Filter the list -->
    <input type="text" ng-model="$ctrl.filterList" placeholder="Filter your to-dos">
      <ol>
        <li ng-repeat="Carly in $ctrl.tasks" ng-class="{'completed': Carly.completed === true}">
          <button ng-if="Carly.completed === false">Complete</button>
          <p>{{ Carly.task }}</p>
          <p class="X">X</p>
        </li>
      </ol>
<!-- ng-model: used on input element; binds the value of those elements to a property on the $scope object -->
      <input type="text" ng-model="$ctrl.todo.tasks" placeholder="Add your to-do">
<!-- ng-click directive: specifies custom behavior when button is clicked (addTask). -->
      <button class="button" ng-click="$ctrl.addTask($ctrl.todo.tasks)">Add</button>
<!-- ng-click directive: specifies custom behavior when button is clicked (removeTask). -->
      <button class="X" ng-click="$ctrl.removeTask($ctrl.remove.tasks)">X</button>
      </section>

  <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
  <script src="app/module/module.js"></script>
  <script src="app/controllers/controller.js"></script>
</body>
</html>